.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: "liga";
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(173, 108, 108);
    font-family: Arial, Helvetica, sans-serif;
}
.search-container {
    border: solid 2px #ccc;
    border-radius:50px;
    display: flex;
    flex-direction:row;
    align-items:center;
    padding: 5px 10px;
    width:700px;
    margin: 100px auto;
}
.search-container:focus-within {
    border: solid 5px #aaa;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.search-container input[type="text"] {
    border: none;
    outline: none;
    flex: 1;
    padding: 10px;
    font-size: 1rem;
}
.search-container .actions {
    display: flex;
    gap:15px;
}
.search-container .actions button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #999;
}
.search-container .actions button:hover {
    color: #2979e2;
}